div:nth-child(1) {
    background-image: url(./img/home_bg.jpg);
    background-size: cover;
    background-attachment: fixed;
    height: 200vh;
    width: 100vw;
}
.layout {
    width: 20%;
    height: 40vh;
    display: inline-block;
    margin: 20px 2.5%;
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    overflow: scroll;
}
.layout p {
    margin: 55% auto;
    text-align: center;
}